@media (max-width: 333px) {
    /*TO Others Pages*/
    body {
        margin: 0 auto;
        width: auto;
        border: none;
    }
    header {
        margin-top: 0;
        height: auto;
    }
    header h1 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    nav a {
        width: auto;
        padding: 5px 0;
        font-size: 0.9rem;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .heading-primary {
        font-size: 1.3rem;
        padding: 1rem 0 0;
    }
    footer{
        padding-bottom: 1rem;
    }
    footer nav a{
        width: auto;
    }
    /**/
    .all-about-coffe-img img {
        width: 100px;
    }
    .all-about-coffe-img{
        margin-right: 0.5rem;
    }
    .all-about-coffe-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid-2-fr {
        display: block;
        padding: 1rem;
        font-size: 0.77rem;
    }
    .all-about-coffe-text{
        width: auto;
        height: auto;
    }
    .all-about-coffe-text blockquote{
        padding-top: 1rem;
        margin: 1rem;
    }
    .all-about-coffe-text p{
        padding-bottom: 1rem;
    }
}
@media (333px <= width <= 600px){
    /*TO Others Pages*/
    body {
        margin: 0 auto;
        width: auto;
        border: none;
    }
    header {
        margin-top: 0;
        height: auto;
    }
    header h1 {
        font-size: 2.4rem;
        padding-bottom: 1rem;
    }
    nav a {
        width: auto;
        padding: 5px 0;
        font-size: 1rem;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .heading-primary {
        font-size: 1.4rem;
        padding: 1rem 0 0;
    }
    footer{
        padding-bottom: 1rem;
    }
    footer nav a{
        width: auto;
    }
    /**/
    .all-about-coffe-img img {
        width: 100px;
    }
    .all-about-coffe-img{
        margin-right: 0.5rem;
    }
    .grid-2-fr {
        grid-template-columns: 1fr;
        padding: 1rem;
        font-size: 0.88rem;
    }
    .all-about-coffe-text{
        width: auto;
        height: auto;
        margin: 0 0 2rem;
    }
    .all-about-coffe-text blockquote{
        padding-top: 1rem;
        margin: 1rem;
        font-size: 1rem;
    }
    .all-about-coffe-text p{
        padding-bottom: 1rem;
        font-size: 1rem;
    }
}
@media (600px <= width <= 800px){
    /*TO Others Pages*/
    body {
        margin: 0 auto;
        width: auto;
        border: none;
    }
    header {
        margin-top: 0;
        height: auto;
    }
    header h1 {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    nav a {
        width: auto;
        padding: 5px 0;
        font-size: 0.8rem;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .heading-primary {
        font-size: 1.5rem;
        padding: 1rem 0 0;
    }
    footer{
        padding-bottom: 1rem;
    }
    footer nav a{
        width: auto;
    }
    /**/
    .all-about-coffe-img img {
        width: 100px;
    }
    .all-about-coffe-img{
        margin-right: 0.5rem;
    }
    .grid-2-fr {
        gap: 0.4rem;
        padding: 2rem;
        font-size: 1rem;
    }
    .all-about-coffe-text{
        width: auto;
        height: auto;
        margin: 1.5rem 0 2rem;
    }
    .all-about-coffe-text blockquote{
        padding-top: 1.5rem;
        margin: 1rem;
    }
}
@media (800px <= width <= 1000px){
    /*TO Others Pages*/
    body {
        margin: 0 auto;
        width: auto;
        border: none;
    }
    header {
        margin-top: 0;
    }
    nav a {
        width: auto;
        padding: 5px 0;
        font-size: 1rem;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .heading-primary {
        font-size: 1.3rem;
        padding: 1rem 0 0;
    }
    footer{
        padding-bottom: 1rem;
    }
    footer nav a{
        width: auto;
    }
    /**/
    .all-about-coffe-text blockquote{
        padding-top: 2rem;
        margin: 0 1rem;
    }
    .all-about-coffe-text{
        width: auto;
        height: 370px;
        margin: 5rem 0 2rem;
    }
    .grid-2-fr {
        font-size: 1.2rem;
    }
}